@model techburst_group2.Models.RegisterViewmodel

@{
    ViewData["Title"] = "Register";
}
<style>
    .article-button {
        font-size: 1em;
        color: #000000;
        background: #FFE000;
        display: inline-block;
        padding: 10px 30px;
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
    }
</style>
<div container class="card border-yellow shadow text-center border-color p-3">
    <h3 style="color:#ffe000">Become a Rockstar today!</h3>
    <h5 style="color:#dcd32e">Register</h5>
</div>

<hr />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">

        <div class="card p-3 pt-3 shadow border-secondary">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Role" class="control-label hidden"></label>
                    <input asp-for="Role" value=User class="form-control border-secondary" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">

                    <button type="submit" class="btn btn-light article-button">Create Account</button>
                </div>

                <div class="form-group d-flex justify-content-center">

                    <p>
                        Already have an account?
                        <a asp-action="Login">Log in now!</a>
                    </p>

                </div>
            </form>
        </div>
    </div>


    <div class="col-md-3">

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
