<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - techburst_group2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cyborg.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Sauce.css" />
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-rockstar box-shadow mb-3">
            <div class="container">
                <img src="https://cdn.discordapp.com/attachments/420292690127618089/771284704477184000/RST-073-logo-Team-Rockstars-IT.png" width="75" height="75" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Team Up IT</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">
                            <a class="nav-link rockstar-text" asp-area="" asp-controller="Home" asp-action="Articles">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rockstar-text" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rockstar-text" asp-area="" asp-controller="Home" asp-action="AddArticle">AddArticle</a>
                        </li>
                    </ul>
                </div>
            </div>
            <partial name="_loginpartial" />
        </nav>
    </header>
    @if (ViewBag.ArticlePage == null)
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    }


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - techburst_group2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>