@using techburst_group2.Utilities
@using Interfaces.BLL
@inject ITagCollection TagCollection
@model ArticleModel
@{
    ViewBag.ArticlePage = true;
}

<style>
    .article-header {
        position: absolute;
        clip: rect(0px, 30px, 300px, 0px);
    }

    .article-header-container {
    }
</style>
<body>

    
    <div class="container">
        <a class="font-weight-bolder text-decoration-none btn btn-secondary" style="font-size:1em; color:#ffd800;" href=@Url.Action("LoadAllArticles","Home")>Back</a>
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10 text-white">
                    <div class="article-header-container">
                        <img src="@Model.Thumbnail" class="mx-auto d-block img-fluid " alt="Image currently unavailable">
                    </div>
                </div>
                <div class="col-1">

                </div>
            </div>
            
        
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10">
                    <h3 class="font-weight-bold pt-4 text-center">@Html.DisplayFor(model => model.Title)</h3>
                    <p class="card-text font-weight-bold pt-4 text-center">@Html.Raw(Model.Content)</p>
                </div>
                <div class="col-1">

                </div>

            </div>
        
        <div class="=row">
            
                <div class="col-1">

                </div>
                <div class="col-10">
                    <h5 class="card-title">Share this article</h5>
                    <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I just saw this interesting article, check it out!" data-show-count="false">Share it on Twitter</a></div>
                    <div class="fb-share-button" data-href="https://www.teamupit.nl/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share it on facebook</a></div>
                </div>
                <div class="col-1">

                </div>

            </div>
      
    </div>

</body>