@using techburst_group2.Utilities
@using Interfaces.BLL

@inject ITagCollection TagCollection
@model IEnumerable<techburst_group2.Models.ArticleModel>

<style>
    .article-header {
        position: absolute;
        clip: rect(0px, 30px, 300px, 0px);
    }

    .article-header-container {
    }
</style>

@foreach(var item in Model) 
{ 
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10">
                    <div class="justify-content-center">
                        <b class="text-warning">@Html.ActionLink("Return to article overview", "Articles", "Home")</b>

                    </div>
                </div>

                <div class="col-1">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row pt-3">
                <div class="col-1">

                </div>
                <div class="col-10 m-1 p-3 text-white">
                    <div class="article-header-container">
                        <img src="@item.Images" class="rounded mx-auto d-block" alt="Article Image">
                    </div>
                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
        <div class="=col-md-12">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10">
                    <h1 class="font-weight-bold pt-4">@item.Title</h1>
                    <p class="card-text font-weight-bold pt-4">@Html.Raw(item.Content)</p>
                </div>
                <div class="col-1">

                </div>

            </div>
        </div>
        <div class="=col-md-12">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10">
                    <h5 class="card-title">Share this article</h5>
                    <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I just saw this interesting article, check it out!" data-show-count="false">Share it on Twitter</a></div>
                    <div class="fb-share-button" data-href="https://www.teamupit.nl/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share it on facebook</a></div>
                </div>
                <div class="col-1">

                </div>

            </div>
        </div>
    </div>
 }