@model ArticleModel
@{var articles = ViewData["Articles"] as List<ArticleModel>;}
@{ ViewData["Title"] = "AddArticle"; }

<h1 class="text-center shadow p-2">Create Article</h1>

    <fieldset>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 text-center bg-warning text-white p-5">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <input asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                            <button class="btn btn-sm btn-warning btn-outline-dark input text-center" type="submit" asp-controller="Car" asp-action="Create">Add new Article</button>
                    </div>
                </form>
            </div>

            <div class="col-md-2">

            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        <div>
            <select>
                <option class="dropdown-item" href="#">C#</option>
                <option class="dropdown-item" href="#">HTML</option>
                <option class="dropdown-item" href="#">Java</option>
                <option class="dropdown-item" href="#">JavaScript</option>
                <option class="dropdown-item" href="#">Ruby</option>
                <option class="dropdown-item" href="#">C</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
