@using Interfaces.BLL
@{
    @inject ITagCollection TagCollection
    @using Interfaces.BLL
    @model ArticleModel
    ViewBag.ArticlePage = true;
}

<body>
    <div class="article-header-container">
        <img class="article-header" src="@Model.Images" alt="Article picture" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="container">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <p>@Html.Raw(Model.Content)</p>
    </div>
</body>