@{ ViewData["Title"] = "Articles"; }
<head>
    <link rel="stylesheet" href="~/css/articles.css" />
</head>

<h1>@ViewData["Title"]</h1>


<!--Carousel Wrapper-->
<div id="article-carousel" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/devops%20code%20header_1.jpg?itok=nelfsCiS"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-03/NativeScript-6.0-1024x684_0.jpg?itok=KhJYG67o"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/header.jpg?itok=lPGqM7O_"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->
        <!--Third slide-->
        <div class="carousel-item">

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="img-fluid" src="https://www.teamrockstars.nl/sites/default/files/styles/380x380/public/2020-06/Robin%20Tienhoven_0.jpg?itok=xGbUU5YP"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Article title</h5>
                        <p class="card-text">Small summary of the article in here</p>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
