@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col-4">
        <h3>Get in touch!</h3>
        <p>Alle leden van ons frontoffice team hebben stuk voor stuk een bijzonder fijne stem om naar te luisteren. 
        Bel ons dus als je meer wil weten over onze werkwijze, het Dev Program, onze events, 
        vacatures of als je een andere brandende vraag hebt!</p>
        <p>Tel: 073 - 615 77 77</p>
        <p>Van 08:30 tot 17:30 bereikbaar</p>
    </div>
    <div class="col-8">
        <iframe frameborder="1" scrolling="no" marginheight="0" marginwidth="0" width="700" height="440"
                src="https://maps.google.com/maps?hl=nl&q=lekkerbeetjestraat8&ie=UTF8&t=m&z=15&iwloc=B&output=embed">
        </iframe>
    </div>
</div>
