@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["LoggedIn"] != null)
{
    <strong class="alert alert-success">@TempData["LoggedIn"]</strong>
    <br />
    <br />
}


<h2 class="display-4 contact-big-text">Aangeraden artikelen</h2>
@Html.Partial("_ArticleCard")


