@{
    ViewData["Title"] = "Home Page";

}


<<<<<<< HEAD
<h1 class="display-4">Recente artikelen</h1>
@Html.Partial("_ArticleCard")


<h1 class="display-4">Jouw artikelen</h1>

=======
>>>>>>> ContactPage
